body{
    background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tic{
    height: 100px;
    width: 20%;
    font-size: 50px;
    border: 1px solid gray;
   
    border-top: none;
    border-left: none;
    background-color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 40px;
    color: gray;
    align-items:center ;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
   

}
.tac{
    width: 500px;
    margin-left: 460px;
    /* margin-right: auto;  */
    margin-top:10 px;
    border-radius: 20px;

}
.table1{
    height: 100px;
    width: 300px;
     margin-left: auto;
    margin-right: auto; 
    color:#A9A9A9	;
    text-align: center;
   background-color:white;
   margin-top: 20px;


}
.task{
    border-bottom: none;
}
.toe{
  border-right: none;
}
.reset{
    height: 30px;
    width: 100px;
    color: white;  
   
    /* color:grey; */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 1px solid grey;
     margin-left:140px ; 
    border-radius: 10px;
   

}
.reload{    
    height: 30px;
    width: 100px;
    /* background-color: white; */
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    border: 1px solid gray;
     margin-left:70px ; 
    border-radius: 10px;
   
}
.userinfo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 250px;
    width: 300px;
    padding-top: 30px;
    background-color: white;
    
}
.Start{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: inset;
    border-radius: 20px;
    border: 1px solid grey;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    color:gray;

}
.game{
    display: none;
    margin-left: auto;
    margin-right: auto;
}
#player1{
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
    border: 2-px solid grey;
}
#player2{
    margin-left: 20px;
    color: gray;
    border: 2px solid grey;

}
.reset1{
    width: 400px;
    margin-top: 20px;
    margin-left: 350px;
} 